<template>
  <div v-if="post" class="is-sticky">
    <article class="box">
      <h1 class="title is-3 is-capitalized is-spaced">{{ post.title }}</h1>
      <h2 class="subtitle is-5 is-spaced">by {{ post.user.name }}</h2>
      <p>{{ post.body }}</p>
    </article>
    <div class="box">
      <h2 class="title is-5 is-spaced">Comments</h2>
      <article class="media" v-for="comment in post.comments" :key="comment.id">
        <figure class="media-left">
          <p class="image is-64x64">
            <img src="https://bulma.io/images/placeholders/128x128.png">
          </p>
        </figure>
        <div class="media-content">
          <div class="content">
            <p>
              <strong>Anonymous</strong> <small>{{ comment.email }}</small> <small>31m</small>
              <br>
              {{ comment.body }}
            </p>
          </div>
        </div>
      </article>
    </div>
  </div>
  <div v-else class="box notification is-info is-light is-sticky">
    Click on the post to see it
  </div>
</template>

<script>
export default {
  name: "PostCard",
  props: {
    post: {
      type: Object,
      required: false
    }
  }
}
</script>

<style scoped>
  .is-sticky {
    position: sticky;
    top: 0;
  }
</style>
