<template>
  <div class="box is-clickable">
    <h2 class="title is-5 is-capitalized">{{ post.title }}</h2>
  </div>
</template>

<script>
export default {
  name: "PostListCard",
  props: {
    post: {
      type: Object,
      required: true,
    }
  }
}
</script>

<style scoped>

</style>
