<template>
  <div class="section is-fluid">
    <div class="columns is-reversed-mobile">
      <div class="column is-one-quarter-fullhd is-one-third-tablet">
        <template v-for="post in posts" :key="post.id">
          <PostListCard :post="post" @click="getPost(post.id)"/>
        </template>
      </div>
      <div class="column">
        <PostCard :post="post"/>
      </div>
    </div>
  </div>
</template>

<script>
import PostListCard from "@/components/PostListCard.vue";
import PostCard from "@/components/PostCard.vue";

export default {
  name: 'App',
  components: {
    PostCard,
    PostListCard
  },
  data: () => ({
    posts: null,
    post: null,
  }),
  async created() {
    this.posts = await fetch('https://jsonplaceholder.typicode.com/posts');
    this.posts = await this.posts.json();
  },
  methods: {
    async getPost(id) {
      this.post = await fetch(`https://jsonplaceholder.typicode.com/posts/${id}?_expand=user&_embed=comments`);
      this.post = await this.post.json();
    }
  }
}
</script>

<style>
@import 'bulma/css/bulma.css';
@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Ubuntu&display=swap');

#app {
  font-family: Ubuntu, Roboto, Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
}

.footer {
  padding: 3rem 1.5rem 3rem;
}

@media screen and (max-width: 768px) {
  .columns.is-reversed-mobile {
    flex-direction: column-reverse;
    display: flex;
  }
}
</style>
